* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

img {
  height: 200px;
  width: 200px;
}

.header {
  position: relative;
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  position: relative;
  border: 1px solid red;
  max-width: 1200px;
  margin: 0 auto;
}

.social, .photo {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

.nav {
  border: 1px solid red;
  margin-left: 400px;
}

section {
  border: 1px solid red;
  margin-left: 400px;
  height: 400px;
}
